* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2A1F2D;
    display: flex;
    justify-content: center;
}

.container {
    background-color: #41393E;
    width: 30rem;
    min-height: 30vh;
    border-radius: 20px;
    margin: 20px 30px;
    padding: 20px;
    flex-wrap: wrap;
}

.inputField {
    height: 50px;
    min-width: 300px;
    background-color: #B3DEC1;
    border-radius: 20px;
    margin: 15px;
    border: none;
    outline: none;
    color: grey;
    padding-left: 20px;
    font-size: large;
}

.addBtn {
    height: 50px;
    width: 100px;
    background-color: #2B50AA;
    outline: none;
    border: none;
    border-radius: 20px;
}

.taskList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #B3DEC1;
    padding: 15px; 
    margin: 1rem;
    border-radius: 6px;
    font-size: large;
}

.taskList button{
    padding: 0.5rem;
    border-radius: 10px;
    border: none;
    background-color: red;
}
