.parent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.box{
    background-color: cadetblue;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}
@media screen and (max-width: 600px) {
    .parent{
        display: grid;
        grid-template-columns: 1fr;
    }
}

