.auth-container {
  width: 400px;
  margin: 50px auto;
  background: #fff;
  border-radius: 8px;
  /* box-shadow: 0 4px 8px rgba(0,0,0,0.1); */
}

.auth-header {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #ddd;
}

.auth-header button {
  flex: 1;
  padding: 1rem;
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
  color: black;
}

.auth-header button:hover {
  background: #f4f4f9;
}

.auth-header .active {
  border-bottom: 3px solid #4a90e2;
  font-weight: bold;
  color: #4a90e2;
}
