* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
	padding: 2rem;
	max-width: 1000px;
	margin: auto;
}
.logoutBtn {
	background-color: #e74c3c; /* red tone */
	color: #fff; /* white text */
	border: none;
	padding: 0.6rem 1.2rem;
	margin-top: 10px;
	border-radius: 4px;
	font-size: 1rem;
	font-weight: bold;
	cursor: pointer;
}

.btn-container {
	display: flex;
}
.success {
	color: green;
	font-size: large;
	font-weight: bold;
	background-color: white;
	padding: 5px;
	border-radius: 19px;
}

.createUser {
	text-align: center;
	margin-top: 10px;
}

form {
	margin: 20px auto;
}
 li{
  margin-top: 10px;
 }
.user-container {
	background: #fff;
	padding: 2rem;
	border-radius: 8px;
	width: 400px;
}
.delete {
	background-color: red;
}

@media screen and (max-width: 786px) {
	.container {
		grid-template-columns: 1fr;
	}
}
